[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
disnake = "~=2.8"
aiodns = "~=3.0"
loguru = "~=0.5"
pillow = "*"

[requires]
python_version = "3.9"

[scripts]
bot = "python -m tyrant"
build = "docker build -t lemonsaurus/tyrant:latest -f docker/tyrant.Dockerfile ."
push = "docker push lemonsaurus/tyrant:latest"
