[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = {git = "https://github.com/Rapptz/discord.py.git",ref = "0bc15fa130b8f01fe2d67446a2184d474b0d0ba7"}

[requires]
python_version = "3.8"

[scripts]
bot = "python -m lemonbot"
build = "docker build -t heavysaturn/lemonbot:latest -f docker/lemonbot.Dockerfile ."
push = "docker push heavysaturn/lemonbot:latest"
